# Now that we've Run our Analysis on Equality of Mobility, let's look at some Universities that really stand out across a variety of metrics
We'll start by importing SQL database so that we can do some Querying.  We're putting our Querying skills to the test!

In [1]:
import pandas as pd
from pandas.io import sql
import sqlite3

In [2]:
#Connect the database to a SQLite database that can be saved in single file
#These databases are stored in a very efficient manner and allow fast querying
conn = sqlite3.connect('dat-test.db')

# Data is moved to the database through the `to_sql` command, similar to the `to_csv` command
um_table = pd.read_csv(r"C:\Users\Owner\Desktop\GA\FINAL PROJECT\Equality of Upward Mobility Project.csv", low_memory=False)
um_table.head(5)

,Unnamed: 0,super_opeid,name_x,type_x,tier_x,iclevel_x,region_x,barrons,exp_instr_pc_2013,hbcu,...,um_bucket_pred_proba_knn_class5,RF_Regressor_Predicted_UM_Score,Predicted_RF_Class,RF_Pred_Class1,RF_Pred_Class2,RF_Pred_Class3,RF_Pred_Class4,RF_Pred_Class5,RF_Regressor_Predicted,bang4buck
0,0,30955,ASA Institute Of Business & Computer Technology,3,11,2,1,999,3643.3179,0,...,0.08,0.454505,1,0.825556,0.078889,0.093333,0.002222,0.000000,0.456319,0.337274
1,1,3537,Abilene Christian University,2,6,1,3,3,7046.2036,0,...,0.00,0.940951,3,0.001111,0.045556,0.854444,0.092222,0.006667,0.960614,0.326983
2,2,1541,Abraham Baldwin Agricultural College,1,7,1,3,999,3301.0461,0,...,0.00,0.582036,2,0.065556,0.896667,0.034444,0.003333,0.000000,0.586997,1.709559
3,3,7531,Academy Of Art University,3,10,1,4,999,5039.5825,0,...,0.00,0.743366,3,0.051111,0.346667,0.481111,0.091111,0.030000,0.748752,0.363117
4,4,1345,Adams State University,1,5,1,4,4,5938.9795,0,...,0.00,0.741115,3,0.013333,0.108889,0.855556,0.020000,0.002222,0.736857,0.900618

In [3]:
um_table.to_sql('um_table',
            con=conn,
            if_exists='replace',
            index=False)

sql.read_sql('select * from um_table limit 5', con=conn)

C:\Users\Owner\Anaconda3\lib\site-packages\pandas\core\generic.py:2130: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  dtype=dtype)

,Unnamed: 0,super_opeid,name_x,type_x,tier_x,iclevel_x,region_x,barrons,exp_instr_pc_2013,hbcu,...,um_bucket_pred_proba_knn_class5,RF_Regressor_Predicted_UM_Score,Predicted_RF_Class,RF_Pred_Class1,RF_Pred_Class2,RF_Pred_Class3,RF_Pred_Class4,RF_Pred_Class5,RF_Regressor_Predicted,bang4buck
0,0,30955,ASA Institute Of Business & Computer Technology,3,11,2,1,999,3643.3179,0,...,0.08,0.454505,1,0.825556,0.078889,0.093333,0.002222,0.000000,0.456319,0.337274
1,1,3537,Abilene Christian University,2,6,1,3,3,7046.2036,0,...,0.00,0.940951,3,0.001111,0.045556,0.854444,0.092222,0.006667,0.960614,0.326983
2,2,1541,Abraham Baldwin Agricultural College,1,7,1,3,999,3301.0461,0,...,0.00,0.582036,2,0.065556,0.896667,0.034444,0.003333,0.000000,0.586997,1.709559
3,3,7531,Academy Of Art University,3,10,1,4,999,5039.5825,0,...,0.00,0.743366,3,0.051111,0.346667,0.481111,0.091111,0.030000,0.748752,0.363117
4,4,1345,Adams State University,1,5,1,4,4,5938.9795,0,...,0.00,0.741115,3,0.013333,0.108889,0.855556,0.020000,0.002222,0.736857,0.900618

In [4]:
#Let's find schools that have High Upward Mobility and Low Social Eliteness (ie. Their success not directly attributable to Social Elite environment)

sql.read_sql("""SELECT name_x, social_eliteness_score, upward_mobility_score, sticker_price_preds, bang4buck
                FROM um_table
                WHERE upward_mobility_score > 1 and social_eliteness_score < 0.9 and upward_mobility_bucket = "Best"
                ORDER BY upward_mobility_score desc
                LIMIT 50""", con=conn)

,name_x,social_eliteness_score,upward_mobility_score,sticker_price_preds,bang4buck
0,Saint Louis College Of Pharmacy,0.861916,2.173745,27554.0000,0.788904
1,MCPHS University,0.764132,2.151327,29500.0000,0.729263
2,New Jersey Institute Of Technology,0.823025,1.718543,15648.0000,1.098251
3,Illinois Institute Of Technology,0.872628,1.640932,40052.0000,0.409700
4,Milwaukee School Of Engineering,0.899755,1.555251,35520.0000,0.437852
5,Pace University,0.683573,1.526302,39697.0000,0.384488
6,Maine Maritime Academy,0.820976,1.519947,12400.0000,1.225764
7,State University Of New York At Stony Brook,0.723047,1.489086,8430.0000,1.766413
8,Florida Institute Of Technology,0.877265,1.480329,37990.0000,0.389663
9,CUNY Bernard M. Baruch College,0.394021,1.426225,6561.0000,2.173793
10,Saint Francis College,0.659501,1.409169,22300.0000,0.631914
11,San Jose State University,0.896158,1.403684,7323.0000,1.916816
12,"Saint John's University of Queens, NY",0.676779,1.396048,38892.0000,0.358955
13,"California State Polytechnic University, Pomona",0.781047,1.395034,6904.0000,2.020617
14,Vaughn College Of Aeronautics And Technology,0.208044,1.372312,21642.0000,0.634097
15,New Mexico Institute Of Mining & Technology,0.869216,1.349272,6256.0000,2.156765
16,College Of Saint Scholastica,0.841507,1.347053,32842.0000,0.410162
17,Trine University,0.801232,1.336763,25902.0080,0.516085
18,Perry Technical Institute,0.674757,1.332860,9327.2000,1.429004
19,University Of Mary,0.738184,1.315776,15665.0000,0.839947
20,Advanced Institute Of Hair Design,0.756092,1.311323,6240.9396,2.101163
21,Wilkes University,0.788838,1.306692,31262.0000,0.417981
22,"King's College of Wilkes-Barre, PA",0.896254,1.303080,31816.0000,0.409568
23,"University Of California, Riverside",0.756009,1.301400,13407.0000,0.970687

In [18]:
#Let's Look at the Best Overall Bang for the Buck Schools with Minimum Upward Mobility Score

sql.read_sql("""SELECT name_x, tier_x, upward_mobility_score, sticker_price_preds, bang4buck
                FROM um_table
                WHERE upward_mobility_score > 1 and bang4buck > 1
                ORDER BY bang4buck desc
                LIMIT 30""", con=conn)

#Note: Tier 5 schools are "Selective Public", Tier 3 Schools are "Highly Selective Public"

,name_x,tier_x,upward_mobility_score,sticker_price_preds,bang4buck
0,California Maritime Academy,5,1.955039,6536.0000,2.991186
1,University Of Wyoming,5,1.050245,3968.0000,2.646787
2,North Dakota State College Of Science,9,1.070352,4438.0000,2.411789
3,Massachusetts Maritime Academy,5,1.627234,7250.0000,2.244460
4,Southern Polytechnic State University,5,1.286545,5840.0000,2.202988
5,CUNY Bernard M. Baruch College,5,1.426225,6561.0000,2.173793
6,SUNY Maritime College,5,1.618575,7446.0000,2.173751
7,New Mexico Institute Of Mining & Technology,3,1.349272,6256.0000,2.156765
8,University Of Florida,3,1.346669,6313.0000,2.133168
9,Advanced Institute Of Hair Design,11,1.311323,6240.9396,2.101163
10,"California State Polytechnic University, Pomona",5,1.395034,6904.0000,2.020617
11,Thomas A Edison State College,7,1.179527,5871.0000,2.009073
12,University Of Texas Of The Permian Basin,7,1.045196,5250.0000,1.990849
13,"California State University, Fullerton",5,1.233086,6315.0000,1.952631
14,City College Of New York - CUNY,5,1.231235,6389.0000,1.927117
15,"California State University, East Bay",5,1.262858,6564.0000,1.923916
16,San Jose State University,5,1.403684,7323.0000,1.916816
17,"California State University, Long Beach",5,1.228452,6452.0000,1.903986
18,University Of Central Florida,5,1.199380,6368.0000,1.883449
19,Montana Tech Of The University Of Montana,5,1.040422,5587.6519,1.862002
20,San Diego State University,5,1.272635,6866.0000,1.853532
21,CUNY John Jay College Of Criminal Justice,5,1.172708,6359.0000,1.844170
22,Florida International University,5,1.185762,6497.0000,1.825092
23,CUNY Hunter College,5,1.172010,6429.0000,1.823006
24,Binghamton University,3,1.549695,8620.0000,1.797790
25,CUNY Queens College,5,1.166261,6507.0000,1.792318
26,"California State University, Monterey Bay",5,1.060958,5963.0000,1.779235
27,Florida State University,5,1.155658,6507.0000,1.776022
28,Dickinson State University,5,1.069059,6050.0000,1.767040
29,State University Of New York At Stony Brook,3,1.489086,8430.0000,1.766413

In [20]:
#Let's Look at the Best Overall Bang for the Buck Schools

sql.read_sql("""SELECT name_x, tier_x, upward_mobility_score, sticker_price_preds, bang4buck
                FROM um_table
                WHERE bang4buck > 2
                ORDER BY bang4buck desc
                LIMIT 30""", con=conn)

#Lots of Community Colleges here at cheap prices (but doesn't account the Cost of Living)

,name_x,tier_x,upward_mobility_score,sticker_price_preds,bang4buck
0,Ohlone College,9,0.940959,1162.0000,8.097750
1,West Valley-Mission Community College District,9,0.938850,1180.1617,7.955267
2,Glendale Community College,9,0.818050,1175.0000,6.962131
3,Las Positas College,9,0.772847,1138.0000,6.791272
4,Santa Monica College,9,0.761077,1140.0000,6.676110
5,Rancho Santiago Community College District,9,0.752089,1142.0000,6.585715
6,Coast Community College District,9,0.763419,1170.6637,6.521249
7,Chabot-Las Positas Community College District,9,0.736164,1138.0000,6.468926
8,Barstow Community College,9,0.711356,1104.0000,6.443445
9,Napa Valley College,9,0.733031,1142.0000,6.418833
10,Pasadena City College,9,0.735302,1152.0000,6.382832
11,Copper Mountain College,9,0.700219,1108.0000,6.319668
12,College Of The Canyons,9,0.724912,1154.0000,6.281731
13,Los Rios Community College District,9,0.690550,1104.0000,6.254983
14,San Francisco Community College District,9,0.806202,1290.0000,6.249631
15,San Mateo County Community College District,9,0.882659,1421.2874,6.210279
16,Saddleback College,9,0.705796,1142.0000,6.180350
17,San Joaquin Delta College,9,0.670838,1104.0000,6.076433
18,San Diego Community College District,9,0.693696,1142.0000,6.074400
19,Yosemite Community College District,9,0.682518,1150.0000,5.934939
20,Sierra College,9,0.676644,1150.0000,5.883860
21,San Jose-Evergreen Community College District,9,0.773319,1324.9874,5.836423
22,El Camino College,9,0.665399,1142.0000,5.826612
23,Santa Rosa Junior College,9,0.744853,1280.0000,5.819167
24,Kern & North Orange County Community College D...,9,0.700060,1208.8118,5.791309
25,Irvine Valley College,9,0.756630,1326.0000,5.706111
26,Cuesta College,9,0.701771,1234.0000,5.686959
27,Contra Costa Community College District,9,0.728630,1298.0000,5.613481
28,Citrus Community College,9,0.656176,1176.0000,5.579728
29,Palomar College,9,0.744549,1336.0000,5.572970

In [21]:
#Let's find scools that have High Upward Mobility and Low Sticker Price (ie. Very affordable to attend)

sql.read_sql("""SELECT name_x, sticker_price_preds, upward_mobility_score, upward_mobility_bucket
                FROM um_table
                WHERE upward_mobility_score > 1 and sticker_price_preds < 10000 and upward_mobility_bucket = "Best"
                ORDER BY upward_mobility_score desc
                LIMIT 50""", con=conn)

,name_x,sticker_price_preds,upward_mobility_score,upward_mobility_bucket
0,California Maritime Academy,6536.0000,1.955039,Best
1,Massachusetts Maritime Academy,7250.0000,1.627234,Best
2,SUNY Maritime College,7446.0000,1.618575,Best
3,Binghamton University,8620.0000,1.549695,Best
4,California Polytechnic State University,8918.0000,1.534743,Best
5,State University Of New York At Stony Brook,8430.0000,1.489086,Best
6,CUNY Bernard M. Baruch College,6561.0000,1.426225,Best
7,San Jose State University,7323.0000,1.403684,Best
8,"California State Polytechnic University, Pomona",6904.0000,1.395034,Best
9,University Of Texas At Austin,9830.0000,1.385247,Best
10,Texas A&M University,9685.0000,1.384577,Best
11,New Mexico Institute Of Mining & Technology,6256.0000,1.349272,Best
12,University Of Florida,6313.0000,1.346669,Best
13,State University Of New York At Albany,8302.0000,1.346489,Best
14,Perry Technical Institute,9327.2000,1.332860,Best
15,SUNY College At Geneseo,7774.0000,1.323154,Best
16,Advanced Institute Of Hair Design,6240.9396,1.311323,Best

In [22]:
#Let's do that same study, but look for best 'bang for the buck' schools instead

sql.read_sql("""SELECT name_x, bang4buck, upward_mobility_score, tier_x, sticker_price_preds
                FROM um_table
                WHERE upward_mobility_score > 1 and bang4buck > 1.7
                ORDER BY upward_mobility_score desc
                LIMIT 100""", con=conn)

#If you can get into a Maritime Academy, that would be the best option!
#outside of that, there's many tech school options
#California Polytechnic does a great job
#The California & NY State University system of New York are well-represented

,name_x,bang4buck,upward_mobility_score,tier_x,sticker_price_preds
0,California Maritime Academy,2.991186,1.955039,5,6536.0000
1,Massachusetts Maritime Academy,2.244460,1.627234,5,7250.0000
2,SUNY Maritime College,2.173751,1.618575,5,7446.0000
3,Binghamton University,1.797790,1.549695,3,8620.0000
4,California Polytechnic State University,1.720950,1.534743,5,8918.0000
5,State University Of New York At Stony Brook,1.766413,1.489086,3,8430.0000
6,CUNY Bernard M. Baruch College,2.173793,1.426225,5,6561.0000
7,San Jose State University,1.916816,1.403684,5,7323.0000
8,"California State Polytechnic University, Pomona",2.020617,1.395034,5,6904.0000
9,New Mexico Institute Of Mining & Technology,2.156765,1.349272,3,6256.0000
10,University Of Florida,2.133168,1.346669,3,6313.0000
11,SUNY College At Geneseo,1.702025,1.323154,3,7774.0000
12,Advanced Institute Of Hair Design,2.101163,1.311323,11,6240.9396
13,Southern Polytechnic State University,2.202988,1.286545,5,5840.0000
14,San Diego State University,1.853532,1.272635,5,6866.0000
15,"California State University, East Bay",1.923916,1.262858,5,6564.0000
16,"California State University, Fullerton",1.952631,1.233086,5,6315.0000
17,City College Of New York - CUNY,1.927117,1.231235,5,6389.0000
18,"California State University, Long Beach",1.903986,1.228452,5,6452.0000
19,University Of Central Florida,1.883449,1.199380,5,6368.0000
20,Florida International University,1.825092,1.185762,5,6497.0000
21,Thomas A Edison State College,2.009073,1.179527,7,5871.0000
22,CUNY John Jay College Of Criminal Justice,1.844170,1.172708,5,6359.0000
23,CUNY Hunter College,1.823006,1.172010,5,6429.0000
24,CUNY Queens College,1.792318,1.166261,5,6507.0000
25,"California State University, Bakersfield",1.704315,1.157570,5,6792.0000
26,Florida State University,1.776022,1.155658,5,6507.0000
27,California State University - Sacramento,1.733446,1.152395,5,6648.0000
28,San Francisco State University,1.749588,1.131633,5,6468.0000
29,CUNY Brooklyn College,1.718254,1.123051,5,6536.0000
30,"California State University, Los Angeles",1.717720,1.090409,5,6348.0000
31,North Dakota State College Of Science,2.411789,1.070352,9,4438.0000
32,Dickinson State University,1.767040,1.069059,5,6050.0000
33,"California State University, Monterey Bay",1.779235,1.060958,5,5963.0000
34,University Of Wyoming,2.646787,1.050245,5,3968.0000
35,University Of Texas Of The Permian Basin,1.990849,1.045196,7,5250.0000
36,Montana Tech Of The University Of Montana,1.862002,1.040422,5,5587.6519

In [23]:
#Let's do the opposite study, but look for worst 'bang for the buck' schools and low mobility scores instead

sql.read_sql("""SELECT name_x, bang4buck, upward_mobility_score, tier_x, sticker_price_preds
                FROM um_table
                WHERE upward_mobility_score < 0.6 and bang4buck < 0.3
                ORDER BY bang4buck asc
                LIMIT 100""", con=conn)

#Many of these are Less than 2-year schools (Tier 12) charging exorbitant rates
#Many "Beauty" and "Arts" schools atop this list
#Most of these schools are Selective Private Schools (Tier_6).  Stay away from these!
#Many are Church-affiliated schools, perhaps charging a large sticker price to subsidize religious expenses
#I would expect many of these Universities to go out of business if students realize they're not gaining upward mobility from large tuition payments

,name_x,bang4buck,upward_mobility_score,tier_x,sticker_price_preds
0,Regency Beauty Institute,0.060429,0.256103,12,42380.856400
1,Landmark College,0.063144,0.316223,8,50080.000000
2,Cleveland Institute Of Dental - Medical Assist...,0.065269,0.257692,12,39481.542387
3,Florida College Of Natural Health,0.081139,0.287323,11,35411.415133
4,"Fortis College of Largo, FL",0.083502,0.182318,10,21833.961000
5,Pivot Point Academy,0.088958,0.307045,12,34515.700267
6,Aveda Institute Covington,0.093312,0.227408,12,24370.828267
7,"Empire Beauty School of Portland, ME",0.100212,0.189078,12,18867.761600
8,"Empire Beauty School of Somersworth, NH",0.102698,0.312981,12,30475.879400
9,Kansas City Art Institute,0.103202,0.362425,8,35118.000000
10,Kiamichi Technology Center,0.103247,0.437570,12,42380.856400
11,Bennington College,0.106831,0.498451,4,46658.000000
12,Brookline College,0.109067,0.330647,10,30315.998067
13,Gene Juarez Beauty Schools,0.111779,0.403782,12,36123.400000
14,Lourdes University,0.114981,0.210451,6,18303.000000
15,California Institute Of The Arts,0.117621,0.497254,8,42276.000000
16,Earlham College,0.120320,0.515813,6,42870.000000
17,San Joaquin Valley College,0.122184,0.464616,11,38025.921267
18,"Empire Beauty School of New York, NY",0.123787,0.214164,12,17300.961600
19,Utah College Of Massage Therapy,0.131519,0.388533,12,29542.061180
20,McNally Smith College Of Music,0.132188,0.333246,10,25210.000000
21,Wright Career College,0.137136,0.171420,8,12500.000000
22,Francis Tuttle Technology Center School Distri...,0.139143,0.424991,12,30543.412733
23,"Empire Beauty School of Moosic, PA",0.145087,0.221602,12,15273.745127
24,School Of The Museum Of Fine Arts,0.146111,0.589528,8,40348.000000
25,Cornish College Of The Arts,0.148500,0.531631,8,35800.000000
26,University Of The Arts,0.154699,0.594198,8,38410.000000
27,Midred Elley College And Austin's School Of Sp...,0.155127,0.181498,11,11699.971000
28,Musicians Institute,0.156221,0.374695,10,23985.000000
29,Prism Career Institute,0.158503,0.360292,11,22731.000000
...,...,...,...,...,...
70,Bay State College,0.237562,0.532114,10,22399.000000
71,Harcum College,0.237623,0.505187,9,21260.000000
72,Virginia College,0.238611,0.335994,10,14081.245000
73,Keystone College,0.240334,0.526331,6,21900.000000
74,CollegeAmerica Denver,0.240470,0.432018,8,17965.578000
75,American National University,0.242590,0.280192,10,11550.000000
76,IBMC College,0.242642,0.283891,11,11700.000000
77,Cambria Rowe Business College,0.244190,0.346261,11,14180.000000
78,Faulkner University,0.248909,0.466705,6,18750.000000
79,Southern Wesleyan University,0.248966,0.571376,6,22950.000000
80,Cairn University,0.255081,0.592936,6,23245.000000
81,Glendale Career College,0.255952,0.451176,12,17627.361600
82,Sheridan Technical Center,0.256169,0.473786,9,18495.094933
83,"Sullivan University, Sullivan College Of Techn...",0.259304,0.510638,10,19692.668000
84,Tusculum College,0.259846,0.589070,6,22670.000000
85,Davenport University,0.260325,0.392362,6,15072.000000
86,Bryan College,0.260747,0.578859,6,22200.000000
87,"Platt College of Tulsa, OK",0.262912,0.244928,10,9315.952267
88,Intercoast Colleges,0.263210,0.331570,12,12597.148467
89,"Marinello School Of Beauty, Xenon Internationa...",0.263560,0.248811,12,9440.400000
90,Gallaudet University,0.264778,0.397802,8,15024.000000
91,Lincoln College,0.265868,0.465268,8,17500.000000
92,Lincoln College Of New England,0.271777,0.541923,10,19940.000000
93,Santa Barbara Business College,0.273433,0.394686,10,14434.440000
94,Southwest Florida College,0.273697,0.371461,10,13572.000000
95,Art Institute Of New York City,0.280071,0.553308,11,19756.000000
96,United Education Institute,0.283491,0.390201,11,13764.148467
97,Beth Medrash Govoha Of America,0.284879,0.522924,8,18356.000000
98,Southwest Baptist University,0.287223,0.598573,6,20840.000000
99,Argosy University,0.291040,0.503061,10,17284.908000

In [33]:
#Check out good bang 4 buck and socially elite schools
sql.read_sql("""SELECT name_x, bang4buck, upward_mobility_score, sticker_price_preds, social_eliteness_score, tier_x
                FROM um_table
                WHERE bang4buck > 1.5 and social_eliteness_score > 1
                ORDER BY upward_mobility_score desc
                LIMIT 50""", con=conn)

,name_x,bang4buck,upward_mobility_score,sticker_price_preds,social_eliteness_score,tier_x
0,California Maritime Academy,2.991186,1.955039,6536.0,1.092265,5
1,Massachusetts Maritime Academy,2.244460,1.627234,7250.0,1.076361,5
2,SUNY Maritime College,2.173751,1.618575,7446.0,1.078267,5
3,University Of Mary Washington,1.504205,1.551136,10312.0,1.379582,5
4,Binghamton University,1.797790,1.549695,8620.0,1.028639,3
5,California Polytechnic State University,1.720950,1.534743,8918.0,1.251361,5
6,University Of Florida,2.133168,1.346669,6313.0,1.070742,3
7,SUNY College At Geneseo,1.702025,1.323154,7774.0,1.101013,3
8,San Diego State University,1.853532,1.272635,6866.0,1.001408,5
9,Florida State University,1.776022,1.155658,6507.0,1.014124,5
10,Sonoma State University,1.565250,1.138876,7276.0,1.143696,5
11,"California State University, Chico",1.570593,1.099729,7002.0,1.121387,5
12,"University Of Nevada , Reno",1.609831,1.079713,6707.0,1.049305,5
13,Brigham Young University,1.822881,0.911441,5000.0,1.255421,6
14,Cascadia Community College,2.267375,0.860015,3793.0,1.000695,9
15,Raritan Valley Community College,1.778737,0.792605,4456.0,1.016859,9
16,Las Positas College,6.791272,0.772847,1138.0,1.088220,9
17,Saddleback College,6.180350,0.705796,1142.0,1.001372,9

In [29]:
#Let's look at relative selectivity and find schools that do a good job despite being non-selective (anybody can gain entry)

sql.read_sql("""SELECT name_x, tier_x, bang4buck, upward_mobility_score, sticker_price_preds, rejection_rate_preds
                FROM um_table
                WHERE upward_mobility_score > 1 and rejection_rate_preds < 0.2 and bang4buck > 1
                ORDER BY upward_mobility_score desc
                LIMIT 50""", con=conn)

#Many of these schools are Tier 5:  Selective Public Scools

,name_x,tier_x,bang4buck,upward_mobility_score,sticker_price_preds,rejection_rate_preds
0,University Of Mary Washington,5,1.504205,1.551136,10312.000000,0.190400
1,"Citadel, The Military College Of South Carolina",5,1.301470,1.444372,11098.000000,0.195900
2,ITI Technical College,11,1.187889,1.256193,10575.000000,0.173567
3,Iowa State University Of Science & Technology,5,1.569081,1.213057,7731.000000,0.174800
4,North Dakota State University - Main Campus - ...,5,1.519718,1.188419,7820.000000,0.159000
5,University Of Iowa,5,1.449112,1.170738,8079.000000,0.197700
6,Crimson Technical College,11,1.502460,1.162884,7739.866667,0.157996
7,University Of Northern Iowa,5,1.495264,1.158680,7749.000000,0.166900
8,Sonoma State University,5,1.565250,1.138876,7276.000000,0.181400
9,Auburn University,5,1.104892,1.126990,10200.000000,0.172600
10,University Of Colorado System,5,1.176562,1.122162,9537.638700,0.148498
11,Shippensburg University Of Pennsylvania,5,1.142684,1.116859,9774.000000,0.165900
12,University Of Oklahoma,5,1.450500,1.108648,7643.216300,0.195600
13,Western Washington University,5,1.227912,1.100823,8965.000000,0.162900
14,Kansas State University,5,1.212088,1.095000,9034.000000,0.040900
15,"University Of Nevada , Reno",5,1.609831,1.079713,6707.000000,0.160400
16,Western Michigan University,5,1.004590,1.073405,10685.000000,0.171500
17,Bloomsburg University Of Pennsylvania,5,1.199785,1.069488,8914.000000,0.114400
18,University Of Wyoming,5,2.646787,1.050245,3968.000000,0.043100
19,University Of Texas Of The Permian Basin,7,1.990849,1.045196,5250.000000,0.159900
20,Montana Tech Of The University Of Montana,5,1.862002,1.040422,5587.651900,0.110900
21,University Of Alabama In Huntsville,5,1.128001,1.033024,9158.000000,0.193800
22,University Of Kansas,5,1.062617,1.031483,9707.000000,0.077200
23,Texas A&M University - Corpus Christi,5,1.368027,1.030261,7531.000000,0.074200
24,Valley City State University,5,1.540830,1.028350,6674.000000,0.171000
25,University Of Utah,5,1.295058,1.014678,7835.000000,0.182600
26,University Of Texas At Tyler,7,1.379479,1.008675,7312.000000,0.179700
27,College Of Staten Island/CUNY,5,1.557741,1.005989,6458.000000,0.002500
28,University Of Nevada - Las Vegas,5,1.526019,1.005646,6590.000000,0.148800
29,Central Washington University,5,1.112522,1.003162,9017.000000,0.178400

In [26]:
#Who are the Most Selective Schools and how do they do?

sql.read_sql("""SELECT name_x, barrons, bang4buck, upward_mobility_score, sticker_price_preds, rejection_rate_preds, social_eliteness_score
                FROM um_table
                WHERE rejection_rate_preds > 0.85
                ORDER BY rejection_rate_preds desc
                LIMIT 50""", con=conn)

#Not surprisingly, the most selective schools have very high rejection rates & social eliteness schools as well as mobility rates
#most of these schools are Tier 1

,name_x,barrons,bang4buck,upward_mobility_score,sticker_price_preds,rejection_rate_preds,social_eliteness_score
0,Stanford University,1,0.371803,1.664077,44757.0,0.9431,1.443806
1,Harvard University,1,0.354151,1.556071,43938.0,0.9416,1.471232
2,Yale University,1,0.342063,1.566646,45800.0,0.9295,1.520829
3,Princeton University,1,0.407925,1.705941,41820.0,0.9259,1.585764
4,Columbia University In The City Of New York,1,0.319948,1.631993,51008.0,0.9258,1.403704
5,Cooper Union For The Advancement Of Science & ...,1,0.344379,1.425727,41400.0,0.9226,1.087019
6,Massachusetts Institute Of Technology,1,0.397851,1.790968,45016.0,0.9185,1.321958
7,University Of Chicago,1,0.289208,1.395488,48252.0,0.9119,1.274778
8,Brown University,1,0.322782,1.531086,47434.0,0.9082,1.536232
9,Dartmouth College,1,0.312589,1.503805,48108.0,0.9022,1.488855
10,California Institute Of Technology,1,0.394183,1.709255,43362.0,0.8945,1.237839
11,Claremont Mckenna College,1,0.357027,1.692128,47395.0,0.8827,1.346863
12,University Of Pennsylvania,1,0.345160,1.645309,47668.0,0.8776,1.458254
13,Vanderbilt University,1,0.369067,1.617914,43838.0,0.8726,1.483911
14,College Of The Ozarks,3,0.424849,0.787245,18530.0,0.8699,0.255177
15,Adventist University Of Health Sciences,9,0.825867,1.026552,12430.0,0.8664,0.526512
16,Duke University,1,0.314699,1.486732,47243.0,0.8658,1.500560
17,Rust College,4,0.468652,0.435191,9286.0,0.8614,0.131500
18,Pomona College,1,0.315289,1.445033,45832.0,0.8608,1.416338
19,Amherst College,1,0.301634,1.463708,48526.0,0.8572,1.447989
20,Swarthmore College,1,0.314850,1.450198,46060.0,0.8568,1.302964
21,Pitzer College,2,0.245770,1.155611,47020.0,0.8549,1.272543
22,Bowdoin College,1,0.286068,1.339025,46808.0,0.8505,1.459618

In [27]:
#Find the Cheapest Schools with the Most Mobility under $7000 in tuition

sql.read_sql("""SELECT name_x, sticker_price_preds, upward_mobility_score, bang4buck
                FROM um_table
                WHERE sticker_price_preds < 7000 and upward_mobility_score > 1
                ORDER BY upward_mobility_score desc
                LIMIT 50""", con=conn)

#California State Universities are where you want to be if you want cheap, quality in-state education!
#Perhaps this is why their taxes are so high - to fund higher education
#One caveate is that Cost of Living Adjustment is not factored in - Should I account for this in the Upward Mobility Score?

,name_x,sticker_price_preds,upward_mobility_score,bang4buck
0,California Maritime Academy,6536.0000,1.955039,2.991186
1,CUNY Bernard M. Baruch College,6561.0000,1.426225,2.173793
2,"California State Polytechnic University, Pomona",6904.0000,1.395034,2.020617
3,New Mexico Institute Of Mining & Technology,6256.0000,1.349272,2.156765
4,University Of Florida,6313.0000,1.346669,2.133168
5,Advanced Institute Of Hair Design,6240.9396,1.311323,2.101163
6,Southern Polytechnic State University,5840.0000,1.286545,2.202988
7,San Diego State University,6866.0000,1.272635,1.853532
8,"California State University, East Bay",6564.0000,1.262858,1.923916
9,"California State University, Fullerton",6315.0000,1.233086,1.952631
10,City College Of New York - CUNY,6389.0000,1.231235,1.927117
11,"California State University, Long Beach",6452.0000,1.228452,1.903986
12,University Of Central Florida,6368.0000,1.199380,1.883449
13,Florida International University,6497.0000,1.185762,1.825092
14,Thomas A Edison State College,5871.0000,1.179527,2.009073
15,CUNY John Jay College Of Criminal Justice,6359.0000,1.172708,1.844170
16,CUNY Hunter College,6429.0000,1.172010,1.823006
17,CUNY Queens College,6507.0000,1.166261,1.792318
18,"California State University, Bakersfield",6792.0000,1.157570,1.704315
19,Florida State University,6507.0000,1.155658,1.776022
20,California State University - Sacramento,6648.0000,1.152395,1.733446
21,San Francisco State University,6468.0000,1.131633,1.749588
22,CUNY Brooklyn College,6536.0000,1.123051,1.718254
23,"California State University, Northridge",6549.0000,1.101075,1.681287
24,"California State University, Los Angeles",6348.0000,1.090409,1.717720
25,"California State University, Stanislaus",6686.0000,1.081150,1.617035
26,"University Of Nevada , Reno",6707.0000,1.079713,1.609831
27,North Dakota State College Of Science,4438.0000,1.070352,2.411789
28,Dickinson State University,6050.0000,1.069059,1.767040
29,Texas A&M International University,6353.0000,1.062655,1.672682
30,"California State University, Monterey Bay",5963.0000,1.060958,1.779235
31,University Of Wyoming,3968.0000,1.050245,2.646787
32,CUNY Lehman College,6408.0000,1.045613,1.631731
33,University Of Texas Of The Permian Basin,5250.0000,1.045196,1.990849
34,"California State University, San Bernardino",6550.0000,1.044145,1.594114
35,Montana Tech Of The University Of Montana,5587.6519,1.040422,1.862002
36,University Of South Florida,6307.0811,1.038193,1.646076
37,"California State University, Fresno",6299.0000,1.035313,1.643614
38,Valley City State University,6674.0000,1.028350,1.540830
39,College Of Staten Island/CUNY,6458.0000,1.005989,1.557741
40,University Of Nevada - Las Vegas,6590.0000,1.005646,1.526019
41,University Of North Carolina - Charlotte,6277.0000,1.003664,1.598956

In [15]:
#Let's Check out 2-year Public Schools (Tier 9) that stand out

sql.read_sql("""SELECT name_x, tier_x, sticker_price_preds, upward_mobility_score, upward_mobility_bucket, social_eliteness_score, bang4buck
                FROM um_table
                WHERE (tier_x = 9 or tier_x = 11) and upward_mobility_score > 0.9
                ORDER BY upward_mobility_score desc
                LIMIT 50""", con=conn)

#Here, we're looking at both 2-year Public & Private profit and non-for-profit
#Many of the schools are technical colleges, preparing students for the real world

,name_x,tier_x,sticker_price_preds,upward_mobility_score,upward_mobility_bucket,social_eliteness_score,bang4buck
0,Perry Technical Institute,9,9327.200000,1.332860,Best,0.674757,1.429004
1,Advanced Institute Of Hair Design,11,6240.939600,1.311323,Best,0.756092,2.101163
2,ITI Technical College,11,10575.000000,1.256193,Good,0.517784,1.187889
3,Crimson Technical College,11,7739.866667,1.162884,Good,0.290054,1.502460
4,Pittsburgh Institute Of Aeronautics,9,19125.000000,1.114485,Good,0.577344,0.582737
5,North Dakota State College Of Science,9,4438.000000,1.070352,Good,0.439715,2.411789
6,Hesston College,9,24214.000000,0.968458,Medium,0.646153,0.399958
7,Universal Technical Institute of Rancho Cucamo...,11,7367.866667,0.964313,Medium,0.526670,1.308809
8,Mitchell Technical Institute,9,5072.000000,0.961726,Medium,0.446375,1.896148
9,Ohlone College,9,1162.000000,0.940959,Medium,0.904789,8.097750
10,West Valley-Mission Community College District,9,1180.161700,0.938850,Medium,0.896918,7.955267
11,Southeast Technical Institute,9,4728.000000,0.930067,Medium,0.534903,1.967147
12,Northern Virginia Community College,9,4853.000000,0.924061,Medium,0.846646,1.904102
13,Linn State Technical College,9,5820.000000,0.905579,Medium,0.479350,1.555977

In [59]:
#Let's Check schools with High SAT Average versus Mobility Score

sql.read_sql("""SELECT name_x, sat_avg_2013, upward_mobility_score, upward_mobility_bucket, social_eliteness_score
                FROM um_table
                WHERE sat_avg_2013 > 1400
                ORDER BY sat_avg_2013 desc
                LIMIT 50""", con=conn)

#All schools with Average SAT Scores higher than 1400 have excellent Mobility Rates as well as Social Eliteness
#Perhaps this indicates Social Eliteness impacts SAT Scores, which the College Board is now taking action on, including a 3rd score for social background
#Slight outliers of Vassar, Williams & Haverford, which are more Liberal Arts oriented

,name_x,sat_avg_2013,upward_mobility_score,upward_mobility_bucket,social_eliteness_score
0,California Institute Of Technology,1550.0,1.709255,Best,1.237839
1,University Of Chicago,1517.5,1.395488,Best,1.274778
2,Harvard University,1505.0,1.556071,Best,1.471232
3,Vanderbilt University,1505.0,1.617914,Best,1.483911
4,Yale University,1505.0,1.566646,Best,1.520829
5,Princeton University,1500.0,1.705941,Best,1.585764
6,Massachusetts Institute Of Technology,1495.0,1.790968,Best,1.321958
7,Washington University In St. Louis,1495.0,1.544096,Best,1.515566
8,Harvey Mudd College,1494.0,1.837945,Best,1.310511
9,Columbia University In The City Of New York,1480.0,1.631993,Best,1.403704
10,Northwestern University,1475.0,1.516171,Best,1.444157
11,Stanford University,1475.0,1.664077,Best,1.443806
12,Rice University,1470.0,1.585493,Best,1.397572
13,Duke University,1460.0,1.486732,Best,1.500560
14,Pomona College,1460.0,1.445033,Best,1.416338
15,Dartmouth College,1455.0,1.503805,Best,1.488855
16,University Of Pennsylvania,1455.0,1.645309,Best,1.458254
17,Williams College,1455.0,1.138891,Good,1.465851
18,Swarthmore College,1450.0,1.450198,Best,1.302964
19,Amherst College,1449.0,1.463708,Best,1.447989
20,Brown University,1440.0,1.531086,Best,1.536232
21,Carnegie Mellon University,1440.0,1.519474,Best,1.311890
22,Tufts University,1440.0,1.679514,Best,1.481728
23,Claremont Mckenna College,1435.0,1.692128,Best,1.346863
24,Johns Hopkins University,1435.0,1.595414,Best,1.333503
25,University Of Notre Dame,1430.0,1.682241,Best,1.525620
26,Cornell University,1420.0,1.616022,Best,1.319940
27,Georgetown University,1420.0,1.661833,Best,1.509826
28,Northeastern University,1420.0,1.434852,Best,1.090860
29,Carleton College,1415.0,1.379859,Best,1.405080
30,Haverford College,1410.0,1.259027,Good,1.403704
31,Vassar College,1405.0,1.034921,Good,1.353264

In [8]:
#Finally, drum roll please.....let's look at the overall, absolute BEST schools for Upward Mobility!

sql.read_sql("""SELECT name_x, tier_x, upward_mobility_score, rejection_rate_preds, sticker_price_preds, bang4buck
                FROM um_table
                WHERE upward_mobility_score > 1.5
                ORDER BY upward_mobility_score desc
                LIMIT 50""", con=conn)

,name_x,tier_x,upward_mobility_score,rejection_rate_preds,sticker_price_preds,bang4buck
0,Saint Louis College Of Pharmacy,8,2.173745,0.377739,27554.000,0.788904
1,MCPHS University,8,2.151327,0.107900,29500.000,0.729263
2,Albany College Of Pharmacy And Health Sciences,8,2.089662,0.366000,30131.000,0.693526
3,Kettering University,4,1.959912,0.384100,36980.000,0.529993
4,Rose - Hulman Institute Of Technology,2,1.955460,0.437800,41283.000,0.473672
5,California Maritime Academy,5,1.955039,0.252000,6536.000,2.991186
6,Worcester Polytechnic Institute,4,1.847059,0.484100,44222.000,0.417679
7,Harvey Mudd College,2,1.837945,0.818300,48594.000,0.378225
8,Babson College,4,1.816244,0.717900,45120.000,0.402536
9,Rensselaer Polytechnic Institute,2,1.809086,0.588000,47908.000,0.377617
10,University Of The Sciences In Philadelphia,6,1.794712,0.436500,36096.000,0.497205
11,Massachusetts Institute Of Technology,1,1.790968,0.918500,45016.000,0.397851
12,Stevens Institute Of Technology,4,1.780836,0.618400,45366.000,0.392549
13,Colorado School Of Mines,3,1.736000,0.625700,16918.000,1.026126
14,New Jersey Institute Of Technology,5,1.718543,0.345300,15648.000,1.098251
15,Bentley University,4,1.713874,0.562100,42511.000,0.403160
16,California Institute Of Technology,2,1.709255,0.894500,43362.000,0.394183
17,Princeton University,1,1.705941,0.925900,41820.000,0.407925
18,Lafayette College,2,1.701750,0.658600,45635.000,0.372905
19,Claremont Mckenna College,2,1.692128,0.882700,47395.000,0.357027
20,University Of Notre Dame,2,1.682241,0.777000,46237.000,0.363830
21,Tufts University,2,1.679514,0.811600,48643.000,0.345273
22,Stanford University,1,1.664077,0.943100,44757.000,0.371803
23,"Saint John's University of Collegeville, MN",6,1.663669,0.248400,38704.000,0.429844
24,Georgetown University,2,1.661833,0.830300,46744.000,0.355518
25,Fairfield University,6,1.650342,0.288400,43770.000,0.377049
26,Lehigh University,2,1.649830,0.691600,44890.000,0.367527
27,Georgia Institute Of Technology,3,1.648614,0.450700,11394.000,1.446915
28,University Of Pennsylvania,1,1.645309,0.877600,47668.000,0.345160
29,Illinois Institute Of Technology,4,1.640932,0.430300,40052.000,0.409700
30,Villanova University,2,1.638070,0.511000,45966.000,0.356366
31,Santa Clara University,4,1.633896,0.487800,43812.000,0.372933
32,Columbia University In The City Of New York,1,1.631993,0.925800,51008.000,0.319948
33,College Of Mount Saint Vincent And Manhattan C...,6,1.631497,0.315496,35247.195,0.462873
34,Massachusetts Maritime Academy,5,1.627234,0.227400,7250.000,2.244460
35,Clarkson University,6,1.621633,0.359700,42530.000,0.381292
36,SUNY Maritime College,5,1.618575,0.360400,7446.000,2.173751
37,Vanderbilt University,2,1.617914,0.872600,43838.000,0.369067
38,Case Western Reserve University,2,1.616253,0.581200,43158.000,0.374497
39,Cornell University,1,1.616022,0.844400,47286.000,0.341755
40,Bryant University,6,1.596228,0.234500,38574.000,0.413809
41,Johns Hopkins University,2,1.595414,0.818700,47060.000,0.339017
42,Rice University,2,1.585493,0.832600,40566.000,0.390843
43,"Trinity College of Hartford, CT",4,1.574384,0.682200,49056.000,0.320936
44,Yale University,1,1.566646,0.929500,45800.000,0.342063
45,Ohio Northern University,6,1.560499,0.321500,28050.000,0.556328
46,Harvard University,1,1.556071,0.941600,43938.000,0.354151
47,College Of The Holy Cross,2,1.555912,0.670300,45692.000,0.340522
48,Milwaukee School Of Engineering,4,1.555251,0.316100,35520.000,0.437852
49,University Of Mary Washington,5,1.551136,0.190400,10312.000,1.504205

In [ ]:
sql.read_sql("""SELECT name_x, social_eliteness_score, tier_x, upward_mobility_score, downward_mobility_score, sticker_price_preds, bang4buck, upward_mobility_bucket
                FROM um_table
                WHERE social_eliteness_score > 1
                ORDER BY upward_mobility_score desc
                LIMIT 50""", con=conn)

In [ ]:
sql.read_sql("""SELECT name_x, social_eliteness_score, bang4buck
                FROM um_table
                WHERE social_eliteness_score > 1.0
                ORDER BY social_eliteness_score desc
                LIMIT 50""", con=conn)